li {
  font-size: 30px;
  list-style-type: none;
}

.test:after {
  content: '\2807';
  font-size: 30px;
  color: #2e2e2e
}

.info {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

/** {
  outline: 1px solid grey;
}*/

.contacts{
  height: 450px;
  overflow-y: scroll;
}

.options{
  display: none;
  justify-content: space-between;
  padding-top: 20px;
}